@import url('/src/css/header.css');
@import url('/src/css/body.css');
@import url('/src/css/about.css');
@import url('/src/css/navSide.css');

body {

    overflow-x: hidden;

}

.login {
    position: fixed;
    background-color: rgb(78, 78, 78);
    width: 100vw;
    height: 100vh;
    z-index: 1;

    place-content: center;
}

.login-form {
    display: grid;
    place-content: center;
}

.footerBox {
    display: flex;
    justify-content: center;
}

.section {
    max-width: 1024px;
    margin: 80px auto;
}